body {
  color: #fff;
}

.hero,
.ready,
.testimonials {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 300px 100px 300px;
}

.ready {
  padding: 200px 0;
}

.testimonials {
  padding: 80px 0;
}

.title-ready {
  color: whitesmoke;
}

div.title_underline {
  width: 150px;
  margin: auto;
  border: 1px solid rgb(121, 121, 121);
  margin-bottom: 1em;
}

.nav-link {
  color: whitesmoke !important;
  font-size: 20px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.596) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.596);
}

.header {
  margin-bottom: 100px;
}

/* Search */

body {
  background-color: #8f4df8;
}

.main-search-input {
  opacity: 0.85;
  background: #fff;
  padding: 0 120px 0 0;
  border-radius: 30px;
  margin: 200px 0 60px;
  box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.3);
}

.fl-wrap {
  float: left;
  width: 100%;
  position: relative;
}

.main-search-input:before {
  content: "";
  position: absolute;
  bottom: -40px;
  width: 50px;
  height: 1px;
  background: rgba(255, 255, 255, 0.41);
  left: 50%;
  margin-left: -25px;
}

.main-search-input-item {
  float: left;
  width: 100%;
  box-sizing: border-box;
  border-right: 1px solid #eee;
  height: 50px;
  position: relative;
}

.main-search-input-item input:first-child {
  border-radius: 100%;
}

.main-search-input-item input {
  float: left;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: none;
  width: 100%;
  height: 50px;
  padding-left: 55px;
}

.main-search-button {
  background: #4db7fe;
}

.main-search-button {
  position: absolute;
  right: 0px;
  height: 50px;
  width: 120px;
  color: #fff;
  top: 0;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
}

.main-search-input-wrap {
  max-width: 600px;
  margin: 20px auto;
  position: relative;
}

:focus {
  outline: 0;
}

@media only screen and (max-width: 768px) {
  .main-search-input {
    background: rgba(201, 196, 196, 0.2);
    padding: 14px 20px 10px;
    border-radius: 30px;
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0);
  }

  .main-search-input-item {
    width: 100%;
    border: 1px solid #eee;
    height: 50px;
    border: none;
    margin-bottom: 10px;
  }

  .main-search-input-item input {
    border-radius: 30px !important;
    background: #fff;
  }

  .main-search-button {
    position: relative;
    float: left;
    width: 100%;
    border-radius: 30px;
  }
}

.intro {
  color: whitesmoke;
  display: block;
}

.services {
  margin-bottom: 95px;
}

.search-icon {
  position: absolute;
  top: 8px;
  left: 12px;
}

.fa-search {
  font-size: 35px;
}

.article__title h2 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 50px;
}

.title-entry {
  color: rgb(82, 82, 82);
}

.title h3 {
  text-transform: uppercase;
  font-size: 25px;
}

.title i {
  padding-right: 10px;
  font-size: 25px;
}

i.fa-laptop,
.fa-mobile-alt,
.fa-database,
.fa-shield-alt,
.fa-check-circle,
.fa-recycle {
  display: inline-block;
  border-radius: 50%;
  color: #4baaa9;
  border-color: #4baaa9;
  box-shadow: 0px 0px 2px rgb(16, 46, 219);
  padding: 0.4em 0.4em;
  margin-right: 0.3em;
}

.fa-quote-right {
  color: #4baaa9;
  font-size: 46px;
}

.fa-mobile-alt {
  padding: 8px 18px;
}

.fa-database {
  padding: 0.35em 0.5em;
}

.title i:hover {
  background: #4baaa9;
  color: whitesmoke;
}

.article_entry p {
  padding-left: 3.3em;
  color: #1c2023;
  line-height: 1.2;
}

.phone__image {
  text-align: center;
}

p.blurred {
  color: whitesmoke;
  padding: 0;
  letter-spacing: 1px;
  opacity: 0.8;
}

.default-btn {
  border: 3px solid whitesmoke;
  color: whitesmoke;
  background: transparent;
  border-radius: 30px;
  padding: 5px 15px;
  font-size: 20px;
  text-transform: uppercase;
}

.projects button:first-child {
  margin-right: 20px;
}

.article__actions button:hover {
  color: #000;
  background: whitesmoke;
}

.article__image {
  width: 120px;
}

.article__image img {
  border-radius: 50%;
  border: 5px solid rgba(117, 117, 117, 0.932);
  width: 100%;
  height: 100%;
}

.testimonial-entry p,
.article__entry p {
  color: whitesmoke;
  opacity: 0.8;
  padding-left: 0;
}

p.testimonial-name {
  color: #4baaa9;
  opacity: 0.8;
  font-size: 24px;
  padding-left: 0;
}

.testimonials-title,
.heading {
  padding-top: 100px;
}

.testimonials {
  padding-top: 0;
}

.price-table .title-ready h2,
#price-subtitle {
  color: #000;
}

h2,
h4 {
  font-family: "Open Sans Condensed", sans-serif;
}

/* button effect */

.text-box {
  margin-left: 44vw;
  margin-top: 42vh;
}

.default-btn:link,
.default-btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}

.default-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.default-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.default-btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.default-btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.table-title {
  margin-bottom: 30px;
}

.package-table h4 {
  color: #242a35;
}

.price-entry {
  margin-bottom: 45px;
  color: #a5a6a1;
}

.price span {
  color: #4baaa9;
  font-weight: 600;
  font-size: 30px;
}

.price,
.price-entry {
  text-align: center;
}

.price p {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price p:nth-child(2) {
  position: relative;
  bottom: 8px;
}

.price__separator {
  border: 3px solid #4baaa9;
  width: 30px;
  background: #4baaa9;
  height: 3px;
  justify-content: center;
  margin: 25px 0 50px;
}

.article__price {
  border-top: 1px solid rgba(172, 170, 170, 0.414);
  border-bottom: 1px solid rgba(172, 170, 170, 0.414);
  padding: 50px 0;
  margin-bottom: 100px;
}

.article__price:hover {
  background: #4baaa9;
  margin-top: -10px;
  border-radius: 8px;
  margin-bottom: 90px;
}

.article__price:hover span,
.article__price:hover p,
.article__price:hover h4 {
  color: whitesmoke;
}

.article__price:hover button {
  border-color: whitesmoke;
  color: whitesmoke;
  background: none;
}

.article__price:hover .price {
  border-bottom: 1px solid rgba(245, 245, 245, 0.315);
  border-top: 1px solid rgba(245, 245, 245, 0.315);
  width: 80%;
  margin: auto;
}

.article__price:hover .price__separator {
  border: 3px solid whitesmoke;
  background: whitesmoke;
}

.btn-buy {
  color: #4baaa9;
  border-color: #4baaa9;
}

button.btn-buy:hover {
  background: transparent;
}

.post-image img {
  width: 100%;
  height: 100;
  border-radius: 5px;
}

.date-name span:first-child {
  color: #4baaa9;
  border-right: 2px solid rgba(139, 139, 139, 0.788);
  padding-right: 4px;
}

.date-name span:last-child {
  color: #444541;
  font-weight: 600;
}

.posts {
  margin-bottom: 100px;
}

.post p {
  line-height: 1.2;
  color: #585b54;
}

.post-actions button {
  text-transform: uppercase;
  color: #4baaa9;
  border: none;
  padding: 0 0 5px;
  background: none;
}

.post-actions button:hover {
  border-bottom: 3px solid #4baaa9;
}

.our-team {
  background: #9eaebb;
}

.person-image img {
  width: 100%;
  height: 100%;
}

.person-image {
  height: 80%;
}

.name-occupation p {
  margin: 0;
}

.name-occupation p:first-child {
  color: #242a35;
}

.name-occupation p:last-child {
  color: #758383;
  text-transform: uppercase;
  font-weight: 600;
}

.form-order {
  margin-bottom: 110px;
}

.form-order input,
.form-order textarea {
  border: none;
  border-radius: 0;
  border-bottom: 3px solid #79819438;
  font-size: 20px;
}

.form-submit {
  background: #22b6b6;
  color: #fafafa;
  padding: 1px 15px;
}

.form-submit:hover {
  border-color: #79819438;
}

.footer {
  background: #202743;
  color: #fafafa;
  padding: 80px 20px 40px;
}

.footer-logo img {
  width: 100%;
  height: 100%;
}

.social i + i {
  margin-right: 13px;
}

.social i {
  font-size: 24px;
  color: #fff;
  background: #24b8c5;
  margin-right: 5px;
  border-radius: 50%;
  padding: 8px;
}

.social i:hover {
  color: #24b8c5;
  background: #fff;
}

.footer-entry {
  margin-bottom: 70px;
}

.footer-entry p {
  color: whitesmoke;
  opacity: 0.8;
}

.footer-entry p:last-child {
  color: #478f9d;
}

.foot p {
  color: #798194;
}

.foot p span {
  color: whitesmoke;
}
